body {background-color: #fceac1;}

.nav {
  background-color:rgba(255, 255, 255, 0.2);
  background-image:url(../../resources/navbar.png);
  background-position:top left;
  background-repeat:repeat;
  background-attachment:fixed;
  color:white;
  height: 80px;
}

.nav-link {
  color: #3d0c02;
  font-size: 28px;
  font-weight: bold;
}

.nav-item {
  padding-top: 10px;
}

.nav-link:hover {
  color: #882d17;
}

#sidebar {
    max-width: 450px; 
  min-height: 100vh;
  background: #253923;
}

#sidebar .sidebar-header {
  padding: 20px;
  text-align: center;
  color: #fceac1
}

@media only screen and (max-width: 900px) { 
  #sidebar { 
      display: none; 
  } 
}

.card {
  background-color: #fceac1;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 40px;
  margin-left: 0px;
  margin-right: 0px;
}  

.turtle {
  width: 100px !important;
  display: inline;
}

.characters {
  padding-top: 0px;
}

.charimg {
  border-style: solid;
  border-width: 3px;
  border-color: #253923;
}

h6 {
  font-weight:normal;
}

.card img {
  width: 150px;
}

.animal {
  font-weight:bold;
}

.title {
  margin-bottom: 50px;
  }
  
.intro {
  margin-left: 40px;
}

h2 {
  margin-top: 20px;
  color: #3d0c02;
  font-weight: bold;
  text-align: center;
}

h3 {
  color: #3d0c02;
  font-weight: bold;
}

p {
  color: #3d0c02;
  }

table.table-bordered{
    border:1px; 
    border-color: #3d0c02;
    border-style: solid;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:1px; 
    border-color: #3d0c02;
    border-style: solid;
    background-color: #253923;
    color: #fceac1;
}
table.table-bordered > tbody > tr > td{
    border:1px; 
    border-color: #3d0c02;
    border-style: solid;
    color: #3d0c02
}

.trfinal {
  font-weight: bold;
}

.results {
  margin-left: 40px;
  margin-top: 80px;
}

.CharResults {
  margin-top: 80px;
}

.table img {
  width: 100px;
}