.card {
  width: 30rem;
  background-color:#8db5b2;
  color: white;
}
.card-title {
  padding-top: 10px;
  text-emphasis: bold;
}

.card-body{
  background-color: white;
  
}

.card-text{
  margin-left: 20px;
  color: black;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.nav {
  background:#7790ad;
  color: white;
  height: 80px;
}

#tab {
  background:#8db5b2;
  color: white;
  height: 80px;
  font-size: 14px;
}

#tab-font {
  color: white;
  font-size: 14px;
}

.nav-link {
  color: white;
  font-size: 28px;
}

.navbar {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 100px; 
  margin-left: 100px;
} 

.nav-item {
  padding-top: 10px;
}

.nav-link:hover {
  color: #BAE3F0;
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%; 
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f5f5f5;
}

#footer p {
  margin: 0;
  font-size: 16px;
}

h5 {
  font-size: 14px;
  font-weight: bold;
}

h6 {
  font-size: 14px;
}

.btn-default {
  background-color: #8db5b2 !important;
  color:white !important
}